//bg_color
$body:#001695;
$odd:#4BB9EC;
$even:#A5E23B;

@mixin layout {width:1200px; margin:0 auto;}
@mixin nav_title {font-family:'Poller One';}
@mixin page_title {font-family:'Poller One'; font-size:4.375rem;}
@mixin flex_row {display:flex; flex-flow:row nowrap; justify-content:space-between;
align-items: center;}
@mixin flex_column {display:flex; flex-flow:column nowrap; justify-content:space-between;}

body {
    background-color:$body;
    background-image:url(../images/recycle.png);
    background-repeat:repeat-x;
    background-size:100%; background-position:0 500px; background-attachment:fixed;
    text-align: center;
    // animation:rotate30 2s linear infinite;
    // animation:move 150s linear infinite;
    //* {margin-bottom:70px;}
    .side_nav {
        a {
            display:block;
        }
    }
    //움직이는오브제
    .bg_ani {
        > * {
            position:fixed;}
        .recycle {
            width:10px; height:10px;
            animation:rotate30 2s linear alternate infinite;
            img {width:100%;}
        }
    }
    header {
        @include layout; margin-top:20px;
        h1 {
            margin-bottom:80px;
            a {
                font-family:'Poller One';
                font-size:1.563rem;
                color:#fff;
            }
        }
        nav {
            //background-color:aqua;
            @include flex_row;
            a {
                width:16.66%; background-color:#fff; padding:16px 0; font-size:1.875rem; border-radius:15px 15px 0 0; color:$body;
                @include nav_title;
            }
            a:hover {
                color:#fff; border-radius:100%; width:15%; transform:scale(1.0);
            }
            a:nth-child(odd):hover {
                background-color:$odd;
            }
            a:nth-child(even):hover {
                background-color:$even;
            }
        }
    }//e:header
    main {
        @include layout;
        div > h1 {@include page_title;}
        div > .bg_odd {background-color:$odd; padding:50px 80px;}
        div > .bg_even {background-color:$even; padding:50px 80px;}
        div > .title_top {margin-bottom:40px; text-align:left;}
        div > .title_btm {margin-top:40px; text-align:right;}
        #mainpage {
            background-color:$body;
            margin-bottom:100px;
            //background-color:beige;
            position:relative; overflow:hidden; height:700px;
            border-radius:0 0 150px 150px;
            p {border-radius:100%; position:absolute;}
            p:nth-of-type(1) {width:1036px; height:439px; background-color:$odd;
                top:-51px; left:-688.5px; 
            }
            p:nth-of-type(2) {
                width:510px; height:439px; background-color:$even;
                top:-51px; left:347px;
            } 
            p:nth-of-type(3) {width:474px; height:474px; top:-80px; right:-118px;
                background-image:url(../images/earth.png); background-size:100%;}
            p:nth-of-type(4) {
                width:510px; height:439px;
                bottom:-96px; left:-139px; background-color:$even;
                h1 { @include page_title;}
            }
            p:nth-of-type(5) {
                width:439px; height:439px;
                bottom:-96px; left:371px; background-color:$even;}
            p:nth-of-type(6) {
                width:1036px; height:439px;
                bottom:-96px; right:-646px; background-color:$odd;}
        }//e:mainpage
        #contents {
            margin-bottom:100px; padding:20px;
            #plog {
                border-radius:150px 150px 0 0;
            }
            #about {
                h1{}
                div{
                    background-image:url(../images/tape_bg.png);
                    background-repeat:no-repeat; background-size: 900px 580px; background-position:center -60px; padding:70px;
                    h2 {
                        font-family:'East Sea Dokdo'; font-size:4.375rem;
                        margin-bottom:32px;
                    }
                    p {}
                }
                h1{}
            }
            div > p {font-family:'NanumSquareNeo-Variable'; font-size:1.563rem; line-height:1.6;}
            #howto {
                h1 {}
                ul {
                    @include flex_column;
                    li {
                        @include flex_row;
                        // width:21;
                        > p {
                            width:500px; height:400px; background-size:100%; background-repeat:no-repeat;}
                        .howto_contents{
                                h2 {display:inline-block; font-size:3.125rem; font-weight:800; background-color:$even; padding:10px 0; color:$body;
                                margin-bottom:20px;}
                                p {
                                    span {
                                        color:$body;
                                        background-color:#fff;
                                        font-size:2.188rem;
                                        line-height:1.4;
                                    }
                                    span:last-child {
                                        margin-bottom:0;
                                    }
                                }
                        }
                        .li2 {
                            h2 {background-color:$body; color:$even;}
                            p {
                                span {}
                            }
                        }
                        }
                    li:first-child {
                        > p {background-image:url(../images/01walk.png);}
                    }
                    li:nth-child(2) {
                        > p {background-image:url(../images/02put.png);}
                    }
                    li:last-child {
                        > p {background-image:url(../images/03clean.png);}
                    }
                }
            }//e:howto
            #foryou {
                position: relative;
                border-radius:0 0 150px 150px;
                .zero_img {
                    margin:0 auto;
                    width:578px;
                    img {
                        width:100%;
                    }
                }
                .text {
                    margin-top:20px;
                }
            }
            #foryou::before {
                position:absolute; top:0; left:0;
                content:''; display:inline-block; width:100%; height:100%;
                background-image:url(../images/object.png);
                background-repeat:no-repeat;
                background-size:812px;
                background-position:180px 55px;

            }
        }
        #endpage {
            background-color:$body;
            margin-bottom:100px;
            p { width:700px; height:700px; margin:0 auto 20px;
                img {width:100%;}
            }
            p:hover {
                background-image:url(../images/apply.png);
                background-size:cover;
                img {display:none;}
            }
            button {
                font-family:'Poller One'; font-size:2.5rem; color:$body;
                background-color:$even; padding:10px 15px; border-radius:100%;
            }
        }
    }//e:main
}//e:body